[submodule "ThirdParty/CGNS"]
	path = ThirdParty/CGNS
	url = git@github.com:pvcStillinGradSchool/CGNS.git
	branch = develop
[submodule "ThirdParty/GoogleTest"]
	path = ThirdParty/GoogleTest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "ThirdParty/METIS"]
	path = ThirdParty/METIS
	url = git@github.com:pvcStillinGradSchool/METIS.git
	branch = tip
[submodule "ThirdParty/eigen"]
	path = ThirdParty/eigen
	url = git@gitlab.com:pvcStillinGradSchool/eigen.git
  branch = master
