[submodule "ThirdParty/CGNS"]
	path = ThirdParty/CGNS
	url = https://github.com/CGNS/CGNS.git
	branch = develop
[submodule "ThirdParty/GoogleTest"]
	path = ThirdParty/GoogleTest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "ThirdParty/METIS"]
	path = ThirdParty/METIS
	url = https://github.com/pvc1989/METIS.git
	branch = tip
[submodule "ThirdParty/eigen"]
	path = ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = master
[submodule "CGAL"]
	path = ThirdParty/CGAL
	url = https://github.com/CGAL/cgal.git
	branch = master
[submodule "GTestMPI"]
	path = ThirdParty/GTestMPI
	url = https://github.com/AdhocMan/gtest_mpi.git
	branch = master
